<div class="layui-form" style="padding:20px">
    <div class="layui-form-item">
        <label class="layui-form-label">分组</label>
        <div class="layui-input-block">
            <input type="text" id="groupAdd" required lay-verify="required" placeholder="请输入分组" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">名称</label>
        <div class="layui-input-block">
            <input type="text" id="nameAdd" required lay-verify="required" placeholder="请输入名称" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">执行规则</label>
        <div class="layui-input-block">
            <input type="text" id="cronExpressionAdd" required lay-verify="required" placeholder="请输入CronExpression" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">描述</label>
        <div class="layui-input-block">
            <input type="text" id="descriptionAdd" required lay-verify="required" placeholder="请输入描述" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">url地址</label>
        <div class="layui-input-block">
            <input type="text" id="requestUrlAdd" required lay-verify="required" placeholder="请输入请求url" autocomplete="off" class="layui-input">
        </div>
    </div>
</div>